# Subdomains
NEXT_PUBLIC_APP_SUBDOMAIN=app
NEXT_PUBLIC_JOBS_SUBDOMAIN=jobs

# Root domain
NEXT_PUBLIC_APP_ROOT_HOST=localhost.com:3000
NEXT_PUBLIC_API_BASE_URL=http://api.localhost.com:8000

# Inbound email domain
NEXT_PUBLIC_INBOUND_EMAIL_DOMAIN=inbound.example.com